body {
  background-color: gray;
}

.titled-card {
  display: flex;
  height: 294px;
  width: 196px;
  overflow: hidden;
  border-radius: 35px;
  position: relative;
  margin: 0 auto;
}

.titled-card__blur {
  display: flex;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.titled-card__blur__blur {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  height: 70px;
  width: 196px;
  border-radius: 35px;
}

.titled-card__text {
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 294px;
  width: 196px;
  z-index: 2;
}

.titled-card__text__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 70px;
  width: 196px;
}
