.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}

.titled-card {
  overflow: hidden;
  position: relative;
  border-radius: 35px;
}

.titled-card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.titled-card__image img {
  width: 100%;
}

.titled-card__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  backdrop-filter: blur(25px);
  border-radius: 35px;
  text-align: center;
  color: white;
  padding: 25px 0;
}

/* --------START--------shop-card--------fordmay-------- */
.shop-card {
  position: relative;
  max-width: 232px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.shop-card__up-block {}

.card-block {
  position: relative;
  display: flex;
  border-radius: 35px;
  overflow: hidden;
}

.card-block__img {
  max-width: 232px;
  max-height: 352px;
}

.card-block__rating {
  position: absolute;
  bottom: -94%;
  left: -80%;
  border-radius: 20px;
  padding: 5% 6%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: black;
}

.rate {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.rate__img {
  height: 18px;
  width: 18px;
}

.rate__number {}

.shop-card__down-block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  z-index: 1;
}

.card-info__title {
  max-width: 123px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;

  color: black;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__title {
  color: white;
}

.card-info__second-title {
  max-width: 123px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;

  color: #474747;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__second-title {
  color: #B6B6B6;
}

.card-info__price {
  position: absolute;
  right: 5px;
  padding: 5px;
  color: red;
  z-index: 1;

  bottom: 10px;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__price {
  bottom: 45px;
}

.card-info__button {
  position: absolute;
  right: 5px;
  bottom: 10px;
  padding: 5px;
  z-index: 1;

  line-height: 0%;
  max-width: 0px;
  max-height: 0px;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__button {
  max-width: 82px;
  max-height: 23px;
  line-height: 100%;
}

.shop-card__cover-block {
  position: absolute;
  bottom: 5px;
  left: 0;
  background: linear-gradient(180deg, rgba(77, 77, 77, 0.83) 0%, #000000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;

  height: 0;
  transition-duration: 0.5s;
}

.shop-card:hover .shop-card__cover-block {
  height: 50%;
}

.card-description {
  padding: 8% 5%;
  line-height: 14.06px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.card-description__text {}

/* --------END--------shop-card--------fordmay-------- */